<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles.css" />
        <title>Blog of Tymophii</title>
    </head>
    <body>
        <div>
            <div class="div1">
                <h2>Hello! This is my own blog site</h2>
                <h2>At this site u can watch on my little blog about my life,</h2>
                <h2>who are I`m, my proffesion, hobbies and how I spend my time</h2>
            </div>
            <div class="div2">
                <div class="img">
                    <img src="/static/images/users-icon.jpg"
                    width: 100px;
                    height: 100px;
                    alt="my photo"/>
                </div>
            </div>
            <div class="div3">
                <h2>You can get my contacts here:</h2>
                <h2>Telegram: @timohabl</h2>
                <h2>Email: timabl2007@gmail.com</h2>
                <h2>Number: +38(066) 090 22 20</h2>
            </div>
        </div>
    </body>
</html>